@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* variables */
:root{
  --primary:	#e50914;
  --secondary-light: #ffffff;
  --secondary-dark: #e6e6e6;
  --background-dark-1:#000000;
  --background-dark-2:#181818;
  --background-light:#564d4d;
  --formbackground:rgba(0,0,0,.75);
  --box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle
::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding:2px;
  font-family: 'Nunito', sans-serif;
}

body {
  color: var(--secondary-light);
  background: var(--background-dark-2);
}

a{
  text-decoration: none;
}

/* buttons */

button, .btn {
  background: var(--secondary-light);
  color: var(--background-dark-1);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  
}

/* button:hover, .btn:hover {
  background: var(--secondary-dark);
} */

/* button:disabled {
  opacity: 0.5;
  background: var(--secondary-light);
  cursor: not-allowed;
} */

/* form */
form {
  max-width: 400px;
  max-height: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--formbackground)
}

input, textarea {
  border: 0;
  border-bottom: 1px solid var(--background-dark-2);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  background: var(--background-dark-2);
}